<div id="fb-root"></div>

<script type="text/javascript">
  $(document).ready(function() {
    window.fbAsyncInit = function() {
      FB.init({
        appId  : '<%= ENV['FACEBOOK_APP_ID'] %>',
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml  : false  // parse XFBML
      });

      <%= content_for?(:fb_javascript) ? yield(:fb_javascript) : "" %>
    };

    // Load the SDK asynchronously
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  });
</script>
